@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: white;
    font-family: "Raleway", sans-serif;
    color: #272727;
}

.bg-grey {
    background: #272727;
}

footer {
    background: #272727;
}

a {
    text-decoration: none;
}

.social-icon {
    font-size: x-large;
}

.main-image {
    width: 100%;
}

.jumbotron {
    background: url("../images/jazz-background3.png") no-repeat center;
    background-size: cover;
    /* height: 60vh; */
    filter: grayscale(100%);
}
.jumbotron-logo {
    width: 100%;
}

.carousel-inner .active .col-md-4:nth-of-type(2){
    animation: zoom-in-zoom-out 1s ease;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.carousel-inner {
    overflow: visible;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    /* background-color: rgba(0, 0, 0, 0.1); */
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: rgba(215, 212, 212, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}

/* Courses */


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.3%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.3%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}